/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
    background: url('../images/bg-desktop.svg'), #674BB1;
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-attachment: fixed, fixed;
    background-size: cover, cover;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

body>* {
    margin-left: 50px;
    margin-right: 50px;
}

header {
    margin-top: 50px;
    margin-bottom: 50px;
}

.register>* {
    margin-left: 30px;
    margin-right: 50px;
}

.register p {
    /* font-size: ; */
}

header img {
    height: 40px;
    width: auto;
}

.container img {
    width: 650px;
    height: auto;
}

.container {
    display: flex;
}

body h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin: 45px 0 0 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}